body {
    background-color: #ffff87;
}

img {
    width: 304px;
    border-radius: 10px;
}

a {

}

.content {

}

.title {
    font-family: Arial;
    font-size: 16pt;
    color: #5b2c0e;
}

.form {
    display: block;
    padding: 10px;
    width: 280px;
    border-style: dashed;
    border-width: 2px;
    border-color: #614207;
    border-radius: 5px;
}

.form_div {
    margin-bottom: 10px;
}

.btn_save {
    background-color: white;
    border: 1px solid #334fff;
    border-radius: 4px;
    font-size: 12pt;
}

input {
    width: 180px;
    background-color: white;
    border: 1px solid #334fff;
    border-radius: 4px;
    font-size: 12pt;
}

textarea {
    width: 180px;
    background-color: white;
    border: 1px solid #334fff;
    border-radius: 4px;
    font-size: 12pt;
}