body {
    background-color: #9a9a9a;
}

.link_to_article {
    color: #1a072a;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

img {
    height: 200px;
}

.article {
    display: block;
    margin-bottom: 28px;
    margin-left: 10px;
}

.author {
    font-size: 16px;
    font-style: italic;
    font-weight: bold

}

.pub_date {
    font-size: 12px;
    color: ivory
}

.article_text {
    font-size: 14px;
    font-family: Arial;
    font-size: 16px;
}

.link_to_list {
    display: block;
    float: right;
    background-color: #44a1c1;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 10px;
}

.link_to_new {
    display: block;
    float: right;
    background-color: #44a1c1;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}
.article_title {
    display: block;
    margin-bottom: 28px;
}

.new_article {
    font-weight: bold;
}

.information {
    background-color: #fff;
    border-radius: 5px;
}

.entering {
    float: right;
    font-size: 14px;
    font-weight: bolder;
}

.entering_links {
    color: #1a072a;
    text-decoration: none;
}