form {
    display: block;
    padding: 10px;
    width: 280px;
    border-style: dashed;
    border-width: 2px;
    border-color: #614207;
    border-radius: 5px;
}

button {
    background-color: white;
    border: 1px solid #334fff;
    border-radius: 4px;
    font-size: 12pt;
}

input {
    width: 180px;
    background-color: white;
    border: 1px solid #334fff;
    border-radius: 4px;
    font-size: 12pt;
    display: block;
}

label {
    display: block;
    margin-bottom: 10px;
}

span {

}
input:after {
    content: '\A';
    white-space: pre;
}