/*  */
.rectangle {
    width: 80px;
    height: 60px;
    border-style: solid;
    border-width: 1px;
}
.circle {
    display: block;
    background: #f00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    transform: translateY(25%);
}