<!DOCTYPE html>
<html>
<head>
    <title>Django Public Blog - создать статью</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/stylesheets/create_form.css' %}">
</head>
<body>

{% load static %}
<img src="{% static 'articles/img/django-logo-negative.png' %}" alt="">

<div class="content">
    <h1 class="title">Написать новую статью</h1>
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="form_div">
            <input type="text" name="title" placeholder="Название статьи" value="{{ form.title }}">
        </div>
        <div class="form_div">
            <textarea name="text" placeholder="Текст статьи">{{ form.text }}</textarea>
        </div>
        <div class="form_div">
            <input type="submit" class="btn_save" value="Сохранить">
        </div>
        <p></p>
    </form>
    {{ form.errors }}
</div>
</body>
</html>