{% extends 'base.html' %}

{% block title %}  {{ article.article_title }}  {% endblock %}

{% block content %}
    <div class="link_to_new">
        <a href="{% url 'articles:new' %}">Новая статья</a>
    </div>
    <div class="link_to_list">
        <a href="{% url 'articles:index' %}">Все статьи</a>
    </div>

    <div class="information">
        <h2 class="article_title"> {{ article.article_title }}</h2>
        <h2 class="author"> Автор статьи: {{ article.article_author }}</h2>

    </div>
    <em class="pub_date">Дата публикации: {{ article.pub_date }}</em>
    {% if article.was_published_recently %}
        <p class="new_article">НОВАЯ СТАТЬЯ!</p>
    {% endif %}

    <p class="article_text">{{ article.article_text }}</p>


    <hr>
    {% if latest_comments_list %}

        {% for c in latest_comments_list %}
            <p>
                <strong>{{ c.author_name }}</strong>
            <p>{{ c.comment_text }}</p>
            </p>
        {% endfor %}

    {% else %}
        Комментарии не найдены! Станьте первым :)
        <p></p>
    {% endif %}
    <hr>
    <p></p>
    <form action="{% url 'articles:leave_comment' article.id %}" method="POST">

        {% csrf_token %}

        <input type="text" required placeholder="Ваще имя" name="name"> <br>
        <textarea name="text" required="" placeholder="Текст комментария" cols="30" rows="10"></textarea> <br>

        <button type="submit">Оставить комментарий</button>
    </form>


{% endblock %}
