{% extends 'base.html' %}

{% block title %} Последние статьи {% endblock %}

{% block content %}
    <div class="entering">
        {% if request.user.is_anonymous %}
            <a href="{% url 'articles:register' %}" class="entering_links">Регистрация</a> <br>
            <a href="{% url 'articles:login' %}" class="entering_links">Вход</a> <br>
        {% else %}
            <p>Вход выполнен под пользоватедем: {{ request.user.username }} </p>
            <a href="{% url 'articles:logout' %}" class="entering_links">Выход</a> <br>
        {% endif %}
    </div>
    {% if latest_articles_list %}

        {% for a in latest_articles_list %}
            <div class="article">
                <a href="{% url 'articles:detail' a.id %}" class="link_to_article">{{ a.article_title }} </a> <br>
                <p class="author">{{ a.article_author }}</p>
                <p class="pub_date">{{ a.pub_date  }}</p>
                <p class="article_text">{{ a.get_excerpt }}</p>
            </div>

        {% endfor %}
    {% else %}
        Статьи не найдены )=
    {% endif %}

{% endblock %}