<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/stylesheets/index.css' %}">
    <title>{%  block title %} Мой сайт {% endblock %}</title>

</head>
<body>
{% load static %}
<img src="{% static 'articles/img/django-logo-negative.png' %}" alt="">
    {%  block content %} Мой сайт {% endblock %}
</body>
</html>