<!DOCTYPE html>
<html>
  <head>
    <title>Авторизация</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/articles/stylesheets/login_register.css' %}">
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Войти</button>
    </form>
  </body>
</html>