/* buttons style */
.controls {
   
}

.help {
    font-family: Arial;
    font-size: 12pt;
    color: #001b02;
}

button {
    background-color: white;
    border: 1px solid #334fff;
    border-radius: 4px;
    font-size: 12pt;
}

#minimize {
    display: block;
    width: 140px;
    border-style: dashed;
    border-width: 2px;
    border-color: #614207;
    border-radius: 5px;
    padding-left: 45px;
}